.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fa;
}

.auth-card {
  width: 400px;
  padding: 30px;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}