<div class="register-container">

  <div class="register-card">
    <h2 class="title">Create Account</h2>
    <form [formGroup]="registerForm">

      <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input type="text" class="form-control" placeholder="Enter Full Name" formControlName="name">
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
      </div>

      <div class="mb-3">
        <div class="text-danger" *ngIf="registerForm.get('password')?.hasError('minlength')">
          Password must be at least 6 characters.
        </div>
        
        <label class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="must be at least 6 characters"
          formControlName="password">
      </div>

      <div class="mb-4">
        <label class="form-label">Confirm Password</label>
        <input type="password" class="form-control"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          [ngClass]="{'is-invalid': registerForm.hasError('passwordMismatch') || (registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.touched || formSubmitted))}">

        <div class="invalid-feedback" *ngIf="registerForm.hasError('passwordMismatch')">
          Passwords do not match.
        </div>

        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('required') && (registerForm.get('confirmPassword')?.touched || formSubmitted)">
          Confirm password is required.
        </div>
      </div>

      <button type="button" class="btn btn-primary w-100" (click)="onRegister()">
        {{ isLoading ? 'Creating Account...' : 'Sign Up' }}
      </button>

      <div class="login-link">Already have an account?<a routerLink="/login"> Login</a></div>
    </form>
  </div>

</div>